{% extends "menu.html" %} 
{% block main %}
<div>
    <form>
        {% csrf_token %}
        <p><span class="required" style="color:red">*</span>Required</p>
        {% for field in form %}
            <p>
                {% if field.field.required %}
                    <span class="required" style="color:red">*</span>
                {% endif %}
                
                {{ field.label_tag }}
                
                
                {% if field.help_text %}
                    <button class="btn tooltipped" data-position="bottom" data-tooltip=" {{ field.help_text }} ">?</button>
                    <!-- <p class="help_text"> {{ field.help_text }} </p>  -->
                {% endif %}

                <!-- if else prevents duplicate fields from appearing on the date fields-->
                {% if field.html_name == "date_of_birth" or field.html_name == "I9_completed" or field.html_name == "CTL_notified" %} 
                    <input type="text" class="datepicker">
                {% else %}
                    {{ field }}
                {% endif %}

                

                {% for error in field.errors %}
                    <p class="help_text" style="color:red;"> {{ error }} </p>
                {% endfor %}

                <!-- Non specific errors -->
                {% if form.non_field_errors %}
                    <p class="help_text" style="color:red;"> {{ form.non_field_errors }} </p>
                {% endif %}
            </p>
        {% endfor %}

    <div>
        <input type="submit" value="Submit" class="btn waves-effect waves-light">
    </div>
    </form>

</div>
    
{% endblock %}