{% extends "menu.html" %} {% block main %}

<form id="search-form" method="get">
  <div class="search-fields card">
    <div class="search-form-row">
      <!-- User selects what column they would like to search in -->
      <div class="input-field">
        <select name="option1">
          <option value="" disabled selected>Choose your option</option>
          {% for key,value in option1Fields.items %}
          <option value="{{ value }}">{{key}}</option>
          {% endfor %}
        </select>
        <label>Column to search</label>
      </div>

      <!-- Here the user chooses the thing to search. If the field is an enum field
        it gives the user options to choose from.-->

      <div class="input-field">
        <input
          id="search_string"
          name="searchString"
          type="text"
          class="validate"
          placeholder=" "
        />
        <label>Search term</label>
      </div>

      <!-- Here the user selects what columns they would like to view on their table -->
      <div class="input-field" id="search-view-columns">
        <select multiple name="option2">
          <option value="" disabled selected>Choose your option</option>
          {% for key in option2Fields %}
          <option>{{key}}</option>
          {% endfor %}
        </select>
        <label>Columns to view</label>
      </div>
    </div>
    <div class="search-form-row-2">
      <label>
        <input type="checkbox" name="archive" class="filled-in" />
        <span>Include archived faculty?</span>
      </label>
      <div class="submit">
        <input
          type="submit"
          value="Submit"
          class="btn waves-effect waves-light"
        />
      </div>
    </div>
  </div>
</form>
<div class="row card">
  <!-- This is where the data shows up! -->
  <div id="myGrid" style="width: 100%" class="ag-theme-material"></div>
</div>
<div class="right-align"><button class="exportCSV btn waves-effect waves-light hide">Export CSV</button></div>

{% load static %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script
  type="text/javascript"
  src="{% static 'js/bin/intEditor.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/bin/dateEditor.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/bin/phoneEditor.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/bin/emailEditor.js' %}"
></script>

<script>
  $(document).ready(function () {


    /////// TOAST AND NOTIFICATION LOGIC ////////
    var newNotifications = {{ unreadNotifications }};
    // toast appears if there are new notifications
    if(newNotifications > 0) {
      var toastHTML = '<div class="toast-content"><span>You have ' + newNotifications + ' unread notifications.</span> <a href= "{% url 'notifications'%}">Click here to view</a></div> <a class="toast-action toast-button toast-close" onclick="closeToast()"><i class="material-icons toast-close">close</i></a>';
      var notificationToast = M.toast({html: toastHTML, displayLength: "Infinity"});
    }

    // remove toast by clicking the x
    $(document).on('click', '#toast-container .toast-button', function() {
      notificationToast.dismiss();
  });

  ///////////////////////////////////////////////
    // define table vars
    var grid = "";
    var gridOptions = "";
 


    function buildTable(column, row) {
      if (grid != "") {
        gridOptions.api.destroy();
      }
      gridOptions = {
        columnDefs: column,
        defaultColDef: {
          sortable: true,
          filter: true,
          resizable: true,
          editable: true,
        },
        rowData: row,
        enableRangeSelection: true,
        domLayout: "autoHeight",
        animateRows: true,
        components: {
          intEditor: IntEditor,
          phoneEditor: PhoneEditor,
          emailEditor: EmailEditor,
          dateEditor: getDatePicker(),
        },
      };
      // setup the grid after the page has finished loading
      const gridDiv = document.querySelector("#myGrid");

      grid = new agGrid.Grid(gridDiv, gridOptions);
      $(".exportCSV").removeClass('hide');
    }

    function parse_choices(list) {
      var newList = []
      for (l in list) {
        newList.push(list[l][1]);
      }
      return newList
    }

    $(".exportCSV").click(function (e) {
        gridOptions.api.exportDataAsCsv({fileName: "adjunctFacultyManagement.csv"});
      });

    // catch the form's submit event
    $("#search-form").submit(function (e) {
      e.preventDefault();
      // create an AJAX call
      $.ajax({
        data: $(this).serialize(), // get the form data
        type: $(this).attr("method"), // GET or POST
        url: "{% url 'search' %}",
        // on success
        success: function (response) {
          console.log(response);
          var column = [];
          var row = [];
          var a_f_eaf_c_crs_choices = [];
          var masters_choices = [];
          var bg_choices = [];
          var sr_choices = [];

          // get choices for editing the table
          a_f_eaf_c_crs_choices = parse_choices(response.a_f_eaf_c_crs_choices);
          masters_choices = parse_choices(response.masters_choices);
          bg_choices = parse_choices(response.bg_choices);
          sr_choices = parse_choices(response.sr_choices);
          for (h in response.tableHeaders) {
            var c = { headerName: h, field: response.tableHeaders[h] };
            if (h == "A, F, EAF, C-CRS-LIST") {
              c["cellEditor"] = "agSelectCellEditor";
              c["cellEditorParams"] = {
                values: a_f_eaf_c_crs_choices,
              };
            }
            if (h == "Masters") {
              c["cellEditor"] = "agSelectCellEditor";
              c["cellEditorParams"] = {
                values: masters_choices,
              };
            }
            if (h == "Background Passed") {
              c["cellEditor"] = "agSelectCellEditor";
              c["cellEditorParams"] = {
                values: bg_choices,
              };
            }
            if (h == "Step Rate") {
              c["cellEditor"] = "agSelectCellEditor";
              c["cellEditorParams"] = {
                values: sr_choices,
              };
            }

            if (h == "Employee ID" || h == "Zip" || h == "I9 Greater Than 3 Years" || h == "CV/Resume") {
              c["cellEditor"] = "intEditor";
            }
            if (h == "I9 Completed" || h == "CTL Notified" || h == "Date of Birth") {
              c["cellEditor"] = "dateEditor";
            }
            if (h == "Primary Phone" || h == "Secondary Phone") {
              c["cellEditor"] = "phoneEditor";
            }

            if (h == "Primary Email" || h == "Secondary Email") {
              c["cellEditor"] = "emailEditor";
            }

            // cell editors needed: email, telephone, boolean

            column.push(c);
          }
          row = response.results;

          buildTable(column, row);
        },
        // on error
        error: function (response) {
          // alert the error if any error occured
          alert(response.responseJSON.errors);
          console.log(response.responseJSON.errors);
        },
      });

      return false;
    });
  });
</script>
{% endblock %}
