{% extends "base.html" %} 

{% block content %}
{% load static %} 
    <div class="login-form">
        <img src="{% static 'assets/bsu-white.png' %}" alt="Boise State University" class="logo">
        <h4 class="login-title white-text">SPS Faculty Adjunct Management</h4>
        <div class="card form-container">
          <form action="/login/" method="POST" class="card-content">
            
              <div class="input-field">
                <input id="username" type="text" />
                <label for="username">Username</label>
              </div>
              <div class="input-field">
                <input id="password" type="password" class="validate" />
                <label for="password">Password</label>
              </div>
      
            <div class="submit">
              <input
                type="submit"
                value="Submit"
                class="btn waves-effect waves-light"
              />
            </div>
          </form>
        </div>
      </div> 
       
      {% endblock%}
