html,
body {
  height: 100%;
}

// *************** LOGIN PAGE STYLES ****************
input[type="submit"] {
  color: color("shades", "white");
  width: 140px;
}

.login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* The image used */
  background-image: url("../assets/B_night_east.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .form-container {
    margin-top: 2rem;
    width: 600px;
    background-color: rgba(246, 247, 249, 0.9);
  }
  .logo {
    width: 300px;
    margin-top: 4rem;
  }
  .submit {
    display: flex;
    justify-content: center;
  }
}

// *************** MENU WRAPPER STYLES ****************

main {
  margin: 40px 80px;
}
.blue-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: $primary-color;
    border-radius: 50%;
    margin: 20px 0;

    img {
      width: 120px;
      height: auto;
    }
  }
}

.nav-wrapper {
  .sidenav-menu {
    font-size: 2.75rem !important;
  }
  span {
    font-size: 2rem;
  }
  a.logout {
    background-color: $secondary-color;
  }
}

// *************** SEARCH AND VIEW STYLES ****************

.search-fields {
  display: flex;
  flex-direction: column;
  padding: 0 150px;

  
.input-field {
  min-width: 320px;
  margin: 20px;
}
.search-form-row {
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.search-form-row-2 {
  display: flex;
  justify-content:flex-end;
  align-items:center;

  label, .submit {
    margin: 1rem;
  }
}


}
.select-dropdown {
  li {
    span {
      font-family: $secondary-font;
    }
  }
}

.ag-center-cols-container {
  min-width: 100% !important;
}

// *************** ADD ROW STYLES ****************
.add-row div {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:start;
  label {
    padding: 0 15px;
    min-width: 100px;
    max-width: max-content;
    font-size: .95rem;
  }
  input {
    font-family: $secondary-font;
  }
}

.add_form_row {
  div {
    flex-grow: 1;
    margin: 5px 0;
    a.tooltipped {
      color: $off-black;
      font-size: larger;
    }
  }

}
.divider {
  margin: 40px 0;
}
.left {
  margin: 10px 0;
  justify-self: left;
}
.add_form_subtitle {
  margin-bottom: 2rem;
}
  // *************** TOAST STYLES ****************
  
.toast-content {
  display: flex;
  flex-direction: column;
  a {
    color: $secondary-color;
    text-decoration: underline;
  }
}
.toast-close {
  margin-top: -20px;
  margin-right: 5px;
  color: whitesmoke;
}

// *************** NOTIFICATION STYLES ****************

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating)  {
  color: $secondary-color;
}
.card .card-content {
  padding-top: 12px;
  i {
    color: $secondary-color;
  }
}